div.side-dock-ribbon-action[aria-label*="Reminder"] {
    position: relative;
    left: -1px;
}
div.prompt-results > div.suggestion-item > span.modal-icon {
    position: absolute;
    left: 10px;
    top: 7px;
}
